html {
    font-size: 100%;

}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: none;
    border-right: none;

    background-image: url("sadrzaj/foto/pozadina.JPG");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}



h1 {
    text-align: center;
}

h1.naslov {

    font-family: DamjanVukojePeranic;
    src: url(DamjanVukojePeranic.ttf);
    font-size: 300%;
}

h2.dm {
    text-align: center;
}

div.font {
    width: 800px;
    display: flex;
}

div.font img {
    max-width: 50%;
    height: auto;


}

div.ilustracija {
    display: flex;
}

div.ilustracija img {
    max-width: 25%;
    height: auto;
    flex: 1;
    object-fit: contain;

}

div.retusiranje {
    display: flex;
}

img {
    margin-right: 10px;
}



ul.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.19);
    justify-content: center;
    overflow: hidden;
}

ul.nav-list li {
    margin: 0;
}

ul.nav-list a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;

}

ul.nav-list a:hover {
    background-color: rgb(88, 88, 88);
}

footer {
    text-align: center;
}

div.fom {
    display: flex;
}

div.fom img {
    max-width: 33%;
    height: auto;
    flex: 1;
    object-fit: contain;
}